@import url('https://fonts.googleapis.com/css?family=Martel:900|Source+Serif+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
  }

h1, 
h2, 
h3,
h4 {
  font-family: 'Martel', serif;
}

p {
  font-family: 'Source Serif Pro', serif;
}

.gray {
  background-color: #CBCBCB;
}
  
  @media (min-width: 320px) {
    .container0 {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 1px;
     }  

    h1 {
          text-align: center;
          margin-bottom: 0;
      }
  
      nav a {
          background-color: #CBCBCB;
          color: black;
          display: block;
          padding: 0;
          text-decoration: none;
          font-size: 1.1em;
      }
  
      ul {
          list-style-type: none;
          text-align: center;
          margin: 0;
          padding: 0;
      }
  
      nav li {
          font-size: 1.2em;
          line-height: 40px;
          height: 40px;
          border: 1px solid black;
      }
      
      .container1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  
      #intro {
          margin: 15px 35px 15px 35px;
          text-align: center;
      }
      
      .container2 {
          display: flex;
          flex-wrap: wrap;
          text-align: center;
      }
      
      img {
          width: 400px;
          height: 250px;
          margin-top: 15px;
      }
  
      .sectiontitle {
          text-align: center;
      }
  
      p {
          margin: 5px 35px 30px 35px;
      }
  
      .contactinfo {
          text-align: center;
      }
  
      .container3 {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-between;
      }
  
      .studentname {
          display: inline-block;
          margin-left: 1em;
          margin-top: 1em;
      }
  
      .backtotop {
          display: inline-block;
          margin-right: 1em;
          margin-top: 1em;
      }
      
      .bottomnav {
          display: none;
      }
  
      .container4 {
        display:none;
      }

      .about {
         text-align: center;
       }

      .aboutme {
        padding-top: 3px;
        padding-bottom: 3px;
        }

  }
  
  @media (min-width: 768px) {
    .container0 {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
     }  
    
    h1 {
          text-align: center;
          margin-bottom: 0;
      }
  
      nav a {
          background-color: #CBCBCB;
          color: black;
          display: block;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0 20px;
          text-decoration: none;
          font-size: 1em;
      }
  
      ul {
          list-style-type: none;
          text-align: center;
          margin: 1em;
          padding: 0;
      }
  
      nav li {
          display: inline-block;
          border: none;
      }
      
      .container1 {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
      }
  
      .container1 > img {
          margin-right: 1em;
      }
  
      #profilepicture {
          flex: 1 0 0;
      }
  
      #intro {
          flex: 2 0 0;
          margin: 15px 35px 15px 35px;
          text-align: left;
          align-self: flex-start;
          font-size: 1.2em;
      }
      
      .container2 {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          text-align: center;
      }
  
        section {
          width: 49%;
      } 
      
      img {
          width: 400px;
          height: 250px;
          margin-top: 5px;
      }
  
      .sectiontitle {
          text-align: center;
      }
  
      p {
          margin: 5px 5px 30px 5px;
      }
  
      .contactinfo {
          text-align: center;
      }
  
      .container3 {
          display: none;
      }
  
      .studentname {
        display: inline-block;
        margin-left: 1em;
        margin-top: 1em;
      }
      
      .backtotop {
          display: none;
      }
  
      .bottomnav {
          display: inline-block;
          text-decoration: none;
      }
  
      .bottomnav ul {
          list-style-type: none;
          text-align: center;
          margin: 0;
          padding: 0;
      }
  
      .bottomnav li {
          display: inline-block;
      }

      .bottomnav a {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
       }
      
      .container4 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-top: 1px solid gray;
      }

      .about {
         text-align: center;
         margin: 1.2em;
       }
  }
  
  @media (min-width: 1024px) {
      h1 {
          text-align: left;
          margin-left: 50px;
          margin-bottom: 0;
      }
  
      nav a {
          background-color: #CBCBCB;
          color: black;
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          font-size: 1em;
      }
  
      ul {
          list-style-type: none;
          text-align: center;
          margin: 1em;
          padding: 0;
      }
  
      nav li {
          display: inline-block;
          margin-right: 1em;
          border: none;
      }
  
      .container0 {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
      }
      
      .container1 {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
      }
  
      .container1 > img {
          margin-right: 1em;
      }
  
      #profilepicture {
          flex: 1 0 0;
          max-width: 400px;
          max-height: 250px;
      }
  
      #intro {
          flex: 2 0 0;
          margin: 20px 40px 20px 75px;
          text-align: left;
          align-self: flex-start;
          font-size: 1.2em;
      }
      
      .container2 {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          text-align: center;
      }
  
        section {
          width: 33%;
          text-align: center; 
      }
      
      img {
          width: 400px;
          height: 250px;
          margin-top: 10px;
      }
  
      .sectiontitle {
          text-align: center;
      }
  
      p {
          margin: 5px 5px 30px 5px;
      }
  
      .contactinfo {
          text-align: center;
      }
  
      .container3 {
          display: none;
      }
  
      .studentname {
          display: inline-block;
          margin-left: 1em;
          margin-top: 1em;
      }
      
      .backtotop {
          display: none;
      }

       .bottomnav a {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
       }
  
      .container4 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-top: 1px solid gray;
      }
  
  }